In [1]:
# [ ] print 'Hello!' and remember to save notebook! print('Hello!')
print("Hello!")

Hello!

In [2]:
# print('watch for the cat')
print('watch for the cat')

watch for the cat

In [7]:
# [ ] print your name
# [ ] print "is using Python
your_name = 'Nia'
print(your_name,'is using Python')

Nia is using Python

In [9]:
# [ ] create a variable your_name and assign it a string containing your name
#[ ] print your_name
your_name = 'Nia'
print(your_name + ' is going to become a data analyst!')

Nia is going to become a data analyst!

In [12]:
# [ ] create variables and assign values for: favorite_song, shoe_size, lucky_number
# [ ] print the value of each variable favorite_song, shoe_size, and lucky_number
favorite_song = 'Whatcha See is Watcha Get'
shoe_size = '7 1/2'
lucky_number = '3'
print(favorite_song)
print(shoe_size)
print(lucky_number)
# print the above string variables (favorite_song, shoe_size, lucky_number) combined with a description by using string addition
# [ ] print favorite_song with description
print('My favorite song is '+ favorite_song + ' by The Dramatics')
# [ ] print shoe_size with description
print('My shoe size is ' + shoe_size)
# [ ] print lucky_number with description
print(lucky_number + ' is my favorite number')

Whatcha See is Watcha Get
7 1/2
3
My favorite song is Whatcha See is Watcha Get by The Dramatics
My shoe size is 7 1/2
3 is my favorite number

In [13]:
# make a single string (sentence) in a variable called favorite_lucky_shoe using string addition with favorite_song, shoe_size, lucky_number variables and other strings as needed
# print the value of the favorite_lucky_shoe variable string
fav_lucky_shoe = "My favorite shoes are blue platforms. I bought them in the size " + shoe_size + "." + " I've already danced to " + favorite_song + " in them about " + lucky_number + " times."
print(fav_lucky_shoe)

My favorite shoes are blue platforms. I bought them in the size 7 1/2. I've already danced to Whatcha See is Watcha Get in them about 3 times.

In [16]:
# [ ] print a diagonal using "*"
print('*')
print('*')
print('*')
print('*')

*
*
*
*

In [17]:
# [ ] rectangle using "*"
print('******')
print('*    *')
print('*    *')
print('******')

******
*    *
*    *
******

In [18]:
# [ ] smiley using "*"
print('*       *')
print('    *    ')
print(' *     *')
print('  * * *')

*       *
    *
 *     *
  * * *

In [27]:
# [ ] display the type of 'your name' (use single quotes)
type('your name')

str

In [20]:
# [ ] display the type of "save your notebook!" (use double quotes)
type("save your notebook")

str

In [21]:
# [ ] display the type of "25" (use quotes)
type('25')

str

In [22]:
# [ ] display the type of "save your notebook " + 'your name'
type('save your notebook' + 'your name')

str

In [23]:
# [ ] display the type of 25 (no quotes)
type(25)

int

In [24]:
# [ ] display the type of 25 + 10 
type(25 + 10)

int

In [25]:
# [ ] display the type of 1.55
type(1.55)

float

In [26]:
# [ ] display the type of 1.55 + 25
type(1.55 + 25)

float

In [29]:
# assignments ***RUN THIS CELL*** before starting the section
 
student_name = "Gus"
student_age = 16
student_grade = 3.5
student_id = "ABC-000-000"

In [30]:
# [ ] display the current type of the variable student_name
type(student_name)

str

In [31]:
# [ ] display the type of student_age
type(student_age)

int

In [32]:
# [ ] display the type of student_grade
type(student_grade)

float

In [33]:
# [ ] display the type of student_age + student_grade
type(student_age + student_grade)

float

In [34]:
# [ ] display the current type of student_id
type(student_id)

str

In [36]:
# assign new value to student_id 
student_id = 3311

In [37]:
# [ ] display the current type of student_id
type(student_id)

int

In [38]:
# [ ] create integer variables (x, y, z) and assign them 1-3 digit integers (no decimals - no quotes)
x = 45
y = 98
z = 333

In [39]:
# create an integer variable named xyz_sum equal to the sum of x, y, and z
# print the value of xyz_sum
xyz_sum = 45 + 98 + 33
print(xyz_sum)

176

In [40]:
# [ ] fix the error:    print("Hello World!"")  
print("Hello World!")

Hello World!

In [41]:
# [ ] fix the error: print(strings have quotes and variables have names)
print('strings have quotes and variables have names')

strings have quotes and variables have names

In [42]:
# [ ] fix the error: print( "I have $" + 5)
print("I have $" + "5")

I have $5

In [43]:
# [ ] fix the error: print('always save the notebook")
print('always save the notebook')

always save the notebook

In [44]:
#  Display first name or initials as ASCII Art
print('*     *')
print('* *   *')
print('*   * *')
print('*    **')

*     *
* *   *
*   * *
*    **